.header {
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(8px);
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  width: 140px;
  height: 40px;
}

.logo:hover {
  transform: scale(1.05);
}

.navigation {
  text-align: center;
}

.navigation a {
  margin: 10px;
  display: inline-flex;
  border-radius: 20px;
  padding: 10px;
  transition: all 0.5s;
  border: 1px solid transparent;
  color: var(--text);
}

.navigation a:hover {
  color: var(--yellow);
  cursor: pointer;
  border: 1px solid var(--border);
}

.navigation a.active {
  color: var(--yellow);
}

.themeButton {
  min-width: 40px;
  height: 40px;
  color: var(--yellow);
  background-color: var(--white);
  border: 1px solid var(--border);
  border-radius: 50%;
  transition: all 0.3s;
}

.themeButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media (max-width: 800px) {
  .wrapper {
    padding: 5px;
  }
  .logo {
    width: 70px;
    height: 20px;
  }

  .navigation a {
    margin: 0;
    padding: 5px;
    font-size: 0.7rem;
  }

  .themeButton {
    min-width: 24px;
    height: 24px;
  }
}

@media (max-width: 400px) {
  .wrapper {
    flex-direction: column;
  }
}
