:root {
  --white: #ffffff;
  --green: #27694d;
  --yellow: #daa520;
  --red: #ef4444;
  --brown: #383129;
  --black: #2a2622;

  --title: #2b2622;
  --text: #7c736a;
  --border: #e7e2da;

  --background: #f7f4ef;
  --card: #fcfaf7;
  --secondary: #eeebe4;
  --shadow: #c4b8a8;
  --favorite: #eaf0ed;
}

[data-theme="dark"] {
  --white: #1a1a1a;
  --black: #e0e0e0;

  --title: #e0e0e0;
  --text: #a0a0a0;
  --border: #333333;

  --background: #121212;
  --card: #1e1e1e;
  --shadow: #383837;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
}
